In [1]:
import pandas as pd
import numpy as np
import os
os.chdir("/home/sundari/MDM/Kaggle/Rossmann_Store_Sales")

In [2]:
df_train = pd.read_csv("train.csv",sep=",")
df_stores = pd.read_csv("store.csv",sep=",")

/home/sundari/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [3]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
df_stores.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270,9,2008,0,NaN,NaN,NaN
1,2,a,a,570,11,2007,1,13,2010,"Jan,Apr,Jul,Oct"
2,3,a,a,14130,12,2006,1,14,2011,"Jan,Apr,Jul,Oct"
3,4,c,c,620,9,2009,0,NaN,NaN,NaN
4,5,a,a,29910,4,2015,0,NaN,NaN,NaN

In [5]:
#See if all stores have store info
stores_train = df_train['Store'].unique()
stores_stores = df_stores['Store'].unique()
len(stores_stores)

1115

In [6]:
dummy_Assortment = pd.get_dummies(df_stores['Assortment'])
dummy_StoreType = pd.get_dummies(df_stores['StoreType'])
df_stores = df_stores.drop('Assortment',axis=1)
df_stores = df_stores.drop('StoreType',axis=1)

In [7]:
dummy_Assortment.columns = ['Assortment_a','Assortment_b','Assortment_c']
dummy_StoreType.columns = ['StoreType_a','StoreType_b','StoreType_c','StoreType_d']
df_stores = pd.concat([df_stores,dummy_Assortment],axis=1)
df_stores = pd.concat([df_stores,dummy_StoreType],axis=1)

In [8]:
df_stores.head()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Assortment_a,Assortment_b,Assortment_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d
0,1,1270,9,2008,0,NaN,NaN,NaN,1,0,0,0,0,1,0
1,2,570,11,2007,1,13,2010,"Jan,Apr,Jul,Oct",1,0,0,1,0,0,0
2,3,14130,12,2006,1,14,2011,"Jan,Apr,Jul,Oct",1,0,0,1,0,0,0
3,4,620,9,2009,0,NaN,NaN,NaN,0,0,1,0,0,1,0
4,5,29910,4,2015,0,NaN,NaN,NaN,1,0,0,1,0,0,0

In [9]:
#merging train and stores data set
#df_merged = df_train.append([df_stores])
df_merged = pd.merge(df_train,df_stores,on='Store',how='outer')
#len(df_merged) == len(df_train)

In [10]:
df_merged.head()
#df_stores.loc[df_stores['Store'] == 1]

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,CompetitionDistance,...,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Assortment_a,Assortment_b,Assortment_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d
0,1,5,2015-07-31,5263,555,1,1,0,1,1270,...,NaN,NaN,NaN,1,0,0,0,0,1,0
1,1,4,2015-07-30,5020,546,1,1,0,1,1270,...,NaN,NaN,NaN,1,0,0,0,0,1,0
2,1,3,2015-07-29,4782,523,1,1,0,1,1270,...,NaN,NaN,NaN,1,0,0,0,0,1,0
3,1,2,2015-07-28,5011,560,1,1,0,1,1270,...,NaN,NaN,NaN,1,0,0,0,0,1,0
4,1,1,2015-07-27,6102,612,1,1,0,1,1270,...,NaN,NaN,NaN,1,0,0,0,0,1,0

In [11]:
#temp_asst_a = (df_stores.loc[df_s_tores['Assortment'] == 'a']).head()
#temp_asst_b = (df_stores.loc[df_stores['Assortment'] == 'b']).head()
#temp_asst_c = (df_stores.loc[df_stores['Assortment'] == 'c']).head()
#df_temp = pd.concat([temp_asst_a,temp_asst_b,temp_asst_c])
#df_temp

In [12]:
df_merged = df_merged.drop('PromoInterval',axis=1)
df_merged = df_merged.fillna(0)
df_merged = df_merged.drop('Date',axis=1)
df_merged = df_merged.drop('Customers',axis=1)

In [13]:
df_merged.head()

,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,Assortment_a,Assortment_b,Assortment_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d
0,1,5,5263,1,1,0,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0
1,1,4,5020,1,1,0,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0
2,1,3,4782,1,1,0,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0
3,1,2,5011,1,1,0,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0
4,1,1,6102,1,1,0,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0

In [14]:
df_merged['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [15]:
df_merged['StateHoliday'] = df_merged['StateHoliday'].astype(str)

In [16]:
#dummy_StateHoliday = pd.get_dummies(df_merged['StateHoliday'])
df_merged = df_merged.drop('StateHoliday',axis=1)

In [17]:
#dummy_StateHoliday.columns = ['StateHoliday_0','StateHoliday_a','StateHoliday_b','StateHoliday_c']
#df_merged = pd.concat([df_merged,dummy_StateHoliday],axis=1)

In [18]:
df_merged.columns

Index([u'Store', u'DayOfWeek', u'Sales', u'Open', u'Promo', u'SchoolHoliday',
       u'CompetitionDistance', u'CompetitionOpenSinceMonth',
       u'CompetitionOpenSinceYear', u'Promo2', u'Promo2SinceWeek',
       u'Promo2SinceYear', u'Assortment_a', u'Assortment_b', u'Assortment_c',
       u'StoreType_a', u'StoreType_b', u'StoreType_c', u'StoreType_d'],
      dtype='object')

In [19]:
#Model building 
series_target = df_merged['Sales']
df_merged = df_merged.drop('Sales',axis=1)

In [20]:
df_merged.head()

,Store,DayOfWeek,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,Assortment_a,Assortment_b,Assortment_c,StoreType_a,StoreType_b,StoreType_c,StoreType_d
0,1,5,1,1,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0
1,1,4,1,1,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0
2,1,3,1,1,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0
3,1,2,1,1,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0
4,1,1,1,1,1,1270,9,2008,0,0,0,1,0,0,0,0,1,0

In [42]:
from sklearn.ensemble import RandomForestRegressor

In [43]:
model_rf = RandomForestRegressor()
model_rf.fit(df_merged,series_target)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [44]:
predicted_rf = model_rf.predict(df_merged)
predicted_rf = pd.Series(predicted_rf)

In [45]:
#from sklearn.svm import SVR
#model_svm = SVR()
#model_svm.fit(df_merged,series_target)

In [46]:
from sklearn.ensemble import AdaBoostRegressor
model_adb = AdaBoostRegressor()
model_adb.fit(df_merged,series_target)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
         n_estimators=50, random_state=None)

In [47]:
predict_adb = pd.Series(model_adb.predict(df_merged))

In [48]:
from sklearn.ensemble import BaggingRegressor
model_bag = BaggingRegressor()
model_bag.fit(df_merged,series_target)

BaggingRegressor(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
         verbose=0)

In [49]:
predict_bag = pd.Series(model_adb.predict(df_merged))

In [50]:
#merge targets and predictions into single data frame
df_merged_results = pd.DataFrame([series_target,predicted_rf])
df_merged_results = pd.DataFrame.transpose(df_merged_results)

In [51]:
df_merged_results.columns = ['Actual','Predicted']

In [52]:
#Run the same model on test dat, do the same preprocessing as train data
df_test = pd.read_csv("test.csv",sep=",")
df_test = df_test.drop('Id',axis=1)

In [53]:
len(df_test)

41088

In [54]:
df_merged_test = pd.merge(df_test,df_stores,on='Store',how='left')
len(df_merged_test)

41088

In [55]:
df_merged_test = df_merged_test.drop('PromoInterval',axis=1)
df_merged_test = df_merged_test.fillna(0)
df_merged_test = df_merged_test.drop('Date',axis=1)
df_merged_test = df_merged_test.drop('StateHoliday',axis=1)
#df_merged_test = df_merged_test.drop('Customers',axis=1)

In [66]:
predicted_test = pd.Series(model_rf.predict(df_merged_test))

In [68]:
predicted_test = predicted_test.astype(int)

In [72]:
df_test = pd.read_csv("test.csv",sep=",")

In [73]:
df_test['Sales'] = predicted_test

In [74]:
df_test.to_csv("test_predicted.csv")